#**Name:** Uber and Lyft Datset Boston
**Target attribute :** Lets assume the target attribute is Price

#**1. Importing data and libraries**

##1.1 Importing libraries

In [11]:
## for data
import pandas as pd
import numpy as np
## for plotting
import matplotlib.pyplot as plt
import seaborn as sns
## for statistical tests
import scipy
import statsmodels.formula.api as smf
import statsmodels.api as sm
## for machine learning
from sklearn import model_selection, preprocessing, feature_selection, ensemble, linear_model, metrics, decomposition

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

##1.2 Importing the dataset

Lets get the data now. I am trying to get data using the kaggle API

In [1]:
! pip install -q kaggle

In [3]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"pravallikamyneni","key":"f400013ae3d536d45782090d7d170263"}'}

In [4]:
! mkdir ~/.kaggle

! cp kaggle.json ~/.kaggle/

In [6]:
 ! chmod 600 ~/.kaggle/kaggle.json

In [8]:
!kaggle datasets download -d brllrb/uber-and-lyft-dataset-boston-ma

Downloading uber-and-lyft-dataset-boston-ma.zip to /content
 88% 39.0M/44.5M [00:00<00:00, 48.7MB/s]
100% 44.5M/44.5M [00:00<00:00, 100MB/s]

Now we have our dataset zip file in the run time. Let's Unzip the dataset

In [9]:
!mkdir dataset

In [10]:
!unzip /content/uber-and-lyft-dataset-boston-ma.zip -d dataset

Archive:  /content/uber-and-lyft-dataset-boston-ma.zip
  inflating: dataset/rideshare_kaggle.csv

Wohoo!! Now we have the unzipped data at "/content/dataset/rideshare_kaggle.csv"

In [13]:
df = pd.read_csv("/content/dataset/rideshare_kaggle.csv")
df.head()

                                     id  ...  apparentTemperatureMaxTime
0  424553bb-7174-41ea-aeb4-fe06d4f4b9d7  ...                  1544958000
1  4bd23055-6827-41c6-b23b-3c491f24e74d  ...                  1543251600
2  981a3613-77af-4620-a42a-0c0866077d1e  ...                  1543320000
3  c2d88af2-d278-4bfd-a8d0-29ca77cc5512  ...                  1543510800
4  e0126e1f-8ca9-4f2e-82b3-50505a09db9a  ...                  1543420800

[5 rows x 57 columns]

#**2. Exploratory Data Analysis**

##2.1 As a whole

In [14]:
df.shape

(693071, 57)

In [16]:
df.dtypes

id                              object
timestamp                      float64
hour                             int64
day                              int64
month                            int64
datetime                        object
timezone                        object
source                          object
destination                     object
cab_type                        object
product_id                      object
name                            object
price                          float64
distance                       float64
surge_multiplier               float64
latitude                       float64
longitude                      float64
temperature                    float64
apparentTemperature            float64
short_summary                   object
long_summary                    object
precipIntensity                float64
precipProbability              float64
humidity                       float64
windSpeed                      float64
windGust                       float64
windGustTime                     int64
visibility                     float64
temperatureHigh                float64
temperatureHighTime              int64
temperatureLow                 float64
temperatureLowTime               int64
apparentTemperatureHigh        float64
apparentTemperatureHighTime      int64
apparentTemperatureLow         float64
apparentTemperatureLowTime       int64
icon                            object
dewPoint                       float64
pressure                       float64
windBearing                      int64
cloudCover                     float64
uvIndex                          int64
visibility.1                   float64
ozone                          float64
sunriseTime                      int64
sunsetTime                       int64
moonPhase                      float64
precipIntensityMax             float64
uvIndexTime                      int64
temperatureMin                 float64
temperatureMinTime               int64
temperatureMax                 float64
temperatureMaxTime               int64
apparentTemperatureMin         float64
apparentTemperatureMinTime       int64
apparentTemperatureMax         float64
apparentTemperatureMaxTime       int64
dtype: object

In [15]:
df.describe()

          timestamp  ...  apparentTemperatureMaxTime
count  6.930710e+05  ...                6.930710e+05
mean   1.544046e+09  ...                1.544048e+09
std    6.891925e+05  ...                6.910777e+05
min    1.543204e+09  ...                1.543187e+09
25%    1.543444e+09  ...                1.543439e+09
50%    1.543737e+09  ...                1.543788e+09
75%    1.544828e+09  ...                1.544818e+09
max    1.545161e+09  ...                1.545109e+09

[8 rows x 46 columns]

check for null values

In [17]:
df.isnull().sum()

id                                 0
timestamp                          0
hour                               0
day                                0
month                              0
datetime                           0
timezone                           0
source                             0
destination                        0
cab_type                           0
product_id                         0
name                               0
price                          55095
distance                           0
surge_multiplier                   0
latitude                           0
longitude                          0
temperature                        0
apparentTemperature                0
short_summary                      0
long_summary                       0
precipIntensity                    0
precipProbability                  0
humidity                           0
windSpeed                          0
windGust                           0
windGustTime                       0
visibility                         0
temperatureHigh                    0
temperatureHighTime                0
temperatureLow                     0
temperatureLowTime                 0
apparentTemperatureHigh            0
apparentTemperatureHighTime        0
apparentTemperatureLow             0
apparentTemperatureLowTime         0
icon                               0
dewPoint                           0
pressure                           0
windBearing                        0
cloudCover                         0
uvIndex                            0
visibility.1                       0
ozone                              0
sunriseTime                        0
sunsetTime                         0
moonPhase                          0
precipIntensityMax                 0
uvIndexTime                        0
temperatureMin                     0
temperatureMinTime                 0
temperatureMax                     0
temperatureMaxTime                 0
apparentTemperatureMin             0
apparentTemperatureMinTime         0
apparentTemperatureMax             0
apparentTemperatureMaxTime         0
dtype: int64

As we have a large dataset we can drop the rows with null values

In [18]:
df = df.dropna()

In [19]:
df['price'].isnull().sum()

0

dropping id column

In [20]:
df = df.drop(columns=['id'])

Categorical columns in the dataset

*type == object*

In [22]:
cols = df.columns
numeric_cols = df._get_numeric_data().columns
categorical_columns = list(set(cols) - set(numeric_cols))
categorical_columns

['source',
 'icon',
 'name',
 'cab_type',
 'timezone',
 'destination',
 'short_summary',
 'datetime',
 'product_id',
 'long_summary']

Analysing each categorical columns

In [23]:
set(df['source'])

{'Back Bay',
 'Beacon Hill',
 'Boston University',
 'Fenway',
 'Financial District',
 'Haymarket Square',
 'North End',
 'North Station',
 'Northeastern University',
 'South Station',
 'Theatre District',
 'West End'}

In [24]:
set(df['icon'])

{' clear-day ',
 ' clear-night ',
 ' cloudy ',
 ' fog ',
 ' partly-cloudy-day ',
 ' partly-cloudy-night ',
 ' rain '}